body {
    text-align: center;
    background-color: #C2FFF9;
    margin: 0;
    font-family: 'Merriweather', serif;
}

h1 {
    position: relative;
    margin-top: 0;
    margin: 0 auto 0 auto;
    font-family: 'Oooh Baby', cursive;
    font-size: 70px;
    top: 200px;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-weight:bolder;
}

button {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
button:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

hr{
    border: dotted #2C272E 6px;
    border-bottom: 0;
    width: 4%;
}
/*---------------------->Class<-------------------------*/

.top-container {
    position: relative;
    background-color: #F0ECE3;
    height: 900px;
    border-top: 0;
}

.top-container h2 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    position: relative;
    top: 200px;
    color: #66BFBF;
}

.top-container .top-cloud {
    position: absolute;
    width: 300px;
    height: 300px;
    top: -80px;
    right: 200px;
}

.top-container .bot-cloud {
    position: absolute;
    height: 300px;
    width: 300px;
    left: 200px;
}

.top-container .moutain {
    height: 800px;
    width: 100%;
}

.mid-container {
    position: relative;
    top: -100px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #11999E;
    padding-top: 200px;
}

.mid-container h2 {
    font-size: 34px;
}

.mid-container h3 {
    font-size: 22px;
}

.mid-container a {
    text-decoration: none;
    font-weight: bold;
}

.mid-container a:hover {
    color: #2C272E;
}

.skill-row-1 {
    width: 50%;
    margin: 50px auto 50px auto;
}

.skill-row-2 {
    width: 50%;
    margin: 50px auto 50px auto;
    font-size: 20px;
    
}

.skill-row-2 h2,h3{
    color: #2C272E;
}

.experience-img{
    float: left;
    width: 200px;
    margin-right: 100px;
}

.contact-img{
    width: 200px;
    margin-left: 100px;
    float: right;
}

.bottom-container{
    background-color: wheat;
    width: 86.5%;
    margin: 0;
    padding: 100px;
}

.bottom-container a{
    margin: 10px 20px;
    text-decoration: none;
}

.bottom-container a:hover{
    color: #30e3cb;
    transition: 0.5s;
    
}

